<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect non-www to www
    RewriteCond %{HTTP_HOST} ^synaptekx\.com [NC]
    RewriteRule ^(.*)$ https://www.synaptekx.com/$1 [L,R=301]

    # Rewrite everything to the public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>