:root {
    --left-gradient: #fa582d;
    --right-gradient: #ffc328;
}

html,
body {
    height: 100%;
    margin: 0;
}

.text-gradient {
    background: linear-gradient(
        to right,
        var(--left-gradient),
        var(--right-gradient)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sidebar ul.menu-categories li.menu > form .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;
    color: #191e3a;
    padding: 10.2px 16px;
    font-weight: 400;
    transition: 0.6s;
    letter-spacing: 1px;
    margin: 2px 16px 0;
    border-radius: 8px;
}

#sidebar ul.menu-categories li.menu > form .dropdown-toggle:hover {
    color: #4361ee;
}

#digitalServicesContainer .note-editing-area {
    background-color: dimgray;
}

#allPartnersContainer .note-editing-area {
    background-color: dimgray;
}

#digitalServicesContainer .note-editable ul li,
#digitalServicesContainer .note-editable ol li {
    color: #ffffffab;
}

#digitalServicesContainer .note-editable ul li::marker {
    color: #ffffffab; /* or any dynamic color */
}

.partner-container .note-editable ul li::marker {
    color: #ffffffab; /* or any dynamic color */
}
