/* custom-styles */

:root {
    --left-gradient: #fa582d;
    --right-gradient: #ffc328;
}

/* General Styles */
.background-white {
    background-color: #fff !important;
}

.background-white .nav-item,
.background-white .nav-item i {
    color: #000;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-57 {
    font-size: 57px !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.radius-24 {
    border-radius: 24px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.br-16px {
    border-radius: 16px !important;
}

.bg-site-grey {
    background-color: #0d101b !important;
}

.container-sm {
    margin-right: 60px !important;
    margin-left: 60px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.site-footer {
    background-color: #1b1e28;
    background-image: url("/images/frontend/gradient_2.svg");
    background-position: top right;
    background-size: cover;
    background-blend-mode: exclusion;
    height: 400px;
    padding: 60px 90px;
}

.gradient-div {
    height: 100%;
    background-image: radial-gradient(#fa582d, #ffc328);
    background-blend-mode: darken;
}

.footer-logo {
    width: 450px;
}

.footer-input-container {
    border: 1px solid #535353;
}

.footer-input {
    background-image: url("../images/frontend/envelop_icon.svg");
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-color: transparent;
    border: none;
    height: 48px;
    padding-left: 60px;
    outline: none;
    color: #ffffffb2;
}

.button-gradient {
    background-image: linear-gradient(
        to right,
        var(--left-gradient),
        var(--right-gradient)
    );
}

.footer-button {
    border: none;
    outline: none;
    width: 160px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-link-heading {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.footer-link {
    color: #ffffff73;
    text-decoration: none;
    margin-bottom: 0.6rem;
    font-size: 14px;
    font-weight: 400;
}

.footer-links-container {
    width: 40%;
}

.footer-divider {
    background-color: #ffffff73;
    color: #ffffff73;
    opacity: 0.6;
}

.footer-bottom-text {
    color: #ffffffb2;
}

.header-logo {
    width: 200px;
    z-index: 9;
}

.site-header {
    padding: 20px 50px 0px 50px;
    z-index: 9;
    /* border-bottom: 1px solid #000; */
}

.site-navbar {
    /* gap: 25px; */
    z-index: 9;
}

.nav-item {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 20px 15px 30px 15px;
    border-bottom: 3px solid transparent;
}

.nav-item.active {
    border-bottom: 3px solid orange;
}

.cursor-pointer {
    cursor: pointer;
}

.text-gradient {
    background: linear-gradient(
        to right,
        var(--left-gradient),
        var(--right-gradient)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mega-menu {
    border-radius: 0 0 20px 20px;
    padding: 60px;
    display: none; /* Hide menu initially */
    position: absolute;
    top: 100%; /* Adjust position below nav */
    left: 0;
    background: white;
    border-top: 1px solid #000;
}

.menu-head-1 {
    background: linear-gradient(
        to right,
        var(--left-gradient),
        var(--right-gradient)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-menu-head {
    font-size: 22px;
    font-weight: normal;
}

.menu-link {
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #535353;
    margin-top: 8px;
}

.menu-link:first-child {
    margin-top: 12px;
}

.mega-menu-heading {
    font-size: 32px;
    font-weight: 500;
    color: #000;
}

.site-header-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 9;
}

.content-container {
    background-color: #000;
}

.home-page {
    padding: 20px 15px;
}

.mt-50 {
    margin-top: 50px;
}

.home-hero-section {
    border-radius: 24px;
    background-color: #0d101bcc;
}

.hero-section {
    height: 800px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 24px;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay color */
    z-index: 1; /* Keep overlay above background */
    border-radius: 24px;
}

.hero-section > * {
    position: relative;
    z-index: 2; /* Ensure text and other content are above overlay */
    color: white; /* Example text color */
    padding-top: 160px;
}

.hero-check-container {
    padding: 6px;
    border-radius: 32px;
    border: 2px solid #fff;
    width: 128px;
    height: 36px;
}

.site-check-text {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.hero-title-text {
    font-size: 90px;
    font-weight: 400;
    color: #fff;
    margin-top: 31px;
    width: 90%;
    line-height: 1.1;
}

.hero-detail-text {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff99;
    margin-top: 40px;
    width: 70%;
    line-height: 1.1;
}

/* .brands-containe img {
    display: block;
    margin: auto;
} */

.slider-wrapper {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: scroll 70s linear infinite; /* Adjust speed */
}

.slider-track img {
    height: auto;
    margin: 0 10px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%); /* Moves half of the items */
    }
}

.hero-brands {
    width: 100%;
    padding: 20px 60px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.py-60px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.div-graphic-element {
    position: absolute;
    top: 0;
    right: 0;
}

.home-section-2 {
    height: auto;
}

.w-60-perc {
    width: 60%;
}

.home-sect-2-title {
    font-weight: 400;
    font-size: 64px;
}

.home-sect-4-title {
    font-weight: 400;
    font-size: 57px;
}

.home-sect-2-img {
    width: 35%;
    height: 430px;
}

.py-35px {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}

.home-sect-2-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.home-sect-2-text-container {
    background-color: #0000000a;
    border-radius: 20px;
    width: 63%;
    height: 100%;
    padding: 15px 30px;
}

.home-sect-2-text-heading {
    font-size: 32px;
    font-weight: 500;
}

.home-sect-2-text-detail {
    font-size: 16px;
    font-weight: 400;
    color: #535353;
}

.home-sect-2-text-detail-2 h3 {
    font-size: 18px;
    font-weight: 500;
}

.home-sect-2-text-detail-2 ul {
    padding-left: 18px;
}

.home-sect-2-text-detail-2 li {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.home-sect-2-text-detail-2 p {
    font-size: 16px;
    font-weight: 400;
    color: #535353;
}

.home-sect-2-text-detail-2 span {
    font-size: 15px;
    font-weight: 400;
    color: #535353;
}

.fs-14 {
    font-size: 14px;
}

.carousel-indicators {
    align-items: center;
    gap: 10px;
    bottom: 14% !important;
}

.carousel-indicators button {
    height: 15px !important;
    width: 15px !important;
    border-radius: 100%;
}

.carousel-indicators .active {
    height: 20px !important;
    width: 20px !important;
    border-radius: 100%;
}

.home-section-3 {
    background-color: #0d101b;
}

.py-90px {
    padding-top: 90px;
    padding-bottom: 90px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: transparent;
    background: linear-gradient(
        to right,
        var(--left-gradient),
        var(--right-gradient)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.nav-pills .nav-link {
    text-align: left;
    color: #ffffffab;
    font-size: 22px;
    font-weight: 400;
}

.nav-pills .nav-link.active::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 104.76%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(
        45deg,
        var(--left-gradient),
        var(--right-gradient)
    );
    margin-right: 8px; /* Space between dot and text */
    vertical-align: middle;
}

.nav.nav-pills {
    padding-left: 25px;
}

.section-3-tab-content {
    background-color: #ffffff0a;
    padding: 46px 40px;
    border-radius: 24px;
}

.section-3-tab-heading-1 {
    font-size: 30px;
    font-weight: 500;
}

.section-3-tab-detail-1 {
    font-size: 16px;
    font-weight: 400;
    color: #ffffffab;
}

.section-3-tab-heading-2 {
    font-size: 18px;
    font-weight: 500;
}

.section-3-img {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* .innovative-sec-table {
    border-top: 1px solid #ffffff40;
    border-left: 1px solid #ffffff40;
    border-image: linear-gradient(to bottom, #ffffff40, #ffffff00) 1 100%;
}

.innovative-sec-table:first-child {
    border-top-left-radius: 16px;
}

.innovative-sec-table:last-child {
    border-right: 1px solid #ffffff40;
    border-top-right-radius: 16px;
} */

.innovative-sec-table {
    padding: 40px;
    position: relative;
    border-left: 1px solid transparent; /* Left border on all */
    border-right: none; /* No right border by default */
    border-top: 1px solid #ffffff40; /* Top border */
    border-radius: 0; /* Reset default border-radius */

    /* Gradient on vertical borders */
    border-image-source: linear-gradient(to bottom, #ffffff40, #ffffff00);
    border-image-slice: 1;
    border-image-repeat: stretch;

    overflow: hidden;
}

/* First box: Add top-left border radius */
.innovative-sec-table:first-child {
    border-top-left-radius: 16px;
}

/* Last box: Add right border & top-right border radius */
.innovative-sec-table:last-child {
    border-right: 1px solid transparent;
    border-top-right-radius: 16px;
}

.innovative-sec-table-title {
    font-size: 21px;
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
}

.innovative-sec-table-desc {
    font-size: 16px;
    color: #ffffff92;
    font-weight: 400;
}

.div-graphic-element-1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.contact-container {
    padding: 55px 35px;
}

.contact-section {
    padding: 80px 58px;
}

.home-sect-5-title {
    font-size: 34px;
    font-weight: 500;
}

.contact-sec-desc {
    font-size: 16px;
    font-weight: 400;
    color: #535353ab;
}

.contact-input {
    padding: 10px 10px 10px 20px;
    border-radius: 4px;
    border: 1px solid #535353;
    background-color: transparent;
    outline: none;
}

.contact-input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #535353;
}

.contact-flex-input {
    width: 49%;
}

.contact-textarea {
    padding: 10px 10px 10px 20px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #535353;
    background-color: transparent;
    outline: none;
}

.contact-form-btn {
    background-color: transparent;
    border: none;
    outline: none;
}

.tab-border-left {
    border-left: 2px solid transparent;

    border-image-source: linear-gradient(to bottom, #ff9862, #e82b8938);
    border-image-slice: 1;
    border-image-repeat: stretch;
}

#partners-carousel {
    background-color: #ffffff33;
    border-radius: 25px;
    padding: 25px 60px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: start;
}

#partners-carousel .carousel-inner {
    padding: 0 85px;
}

.partners-icon {
    width: 200px;
}

.partner-carousel-content {
    width: 70%;
}

/* Services page styles start */
.services-container {
    scroll-behavior: smooth;
}

.services-container .hero {
    height: 600px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.services-container .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay color */
    z-index: 1; /* Keep overlay above background */
}

.services-hero-container {
    z-index: 2;
    height: 100%;
    position: relative;
}

.services-hero-text-content {
    width: 80%;
}

.services-hero-title {
    line-height: 1.5;
    font-size: 57px;
    font-weight: 500;
}

.services-hero-subtitle {
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

.page-nav-link {
    text-decoration: none;
    color: white;
}

.page-nav-link:hover {
    background: linear-gradient(
        to right,
        var(--left-gradient),
        var(--right-gradient)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.empowering-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-content.fixed-on-scroll {
    width: 500px;
    background-color: #fff;
}

.empower-title {
    font-size: 57px;
    font-weight: 500;
    background-color: #000000; /* Base color */
    display: block;
    color: #000000; /* Text appears black by default */
    --gradient-position: 50%; /* Controlled by JS */

    background: -webkit-linear-gradient(
        308deg,
        #000000 0%,
        #000000 28.66%,
        #fa582d 32.66%,
        #ffc328 33%,
        #000000 37%,
        #000000 45%,
        #fa582d 47.5%,
        #ffc328 48%,
        #000000 50.5%,
        #000000 64%,
        #fa582d 69%,
        #000000 70%
    );

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 200% 100%, 100% 100%;
    background-position: var(--gradient-position) 50%, 50% 50%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: relative;
    z-index: 5;
}

.services-graphic {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 350px;
}

/* Optional: Smooth Animation */
@keyframes text-mask {
    0% {
        background-position: -100% center;
    }
    100% {
        background-position: 50% center;
    }
}

.empower-title.mask-animation {
    animation: text-mask 2s infinite alternate;
}

#fixed-on-scroll {
    position: sticky;
    top: 5.9375rem;
}

.empower-right-texts-parent {
    border-left: 1px solid black;
}

.empower-right-texts {
    padding-top: 30px;
    margin-bottom: 50px;
    position: relative;
    padding-left: 65px;
}

.empower-right-texts::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/images/frontend/empower_text_before_element.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -22px;
}

.empower-right-texts p {
    color: #535353;
}

.services-section-image {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
}

.consulting-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.services-section-bg-grad {
    background-image: url("/images/frontend/services_gradient.svg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-section-title {
    font-size: 32px;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

.services-section-subtitle {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

.services-section-desc {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff89;
}

@media (max-width: 460px) {
    .site-footer {
        height: auto;
        padding: 60px 40px;
    }
    .footer-logo {
        width: 150px;
        margin: auto;
        display: block;
        margin-top: 40px;
    }
    .footer-input-container {
        width: 100%;
    }
    .footer-input {
        width: 65%;
    }
    .footer-button {
        width: 35%;
    }
    .header-logo {
        width: 150px;
    }
    .site-header {
        padding: 20px 10px;
    }
    .hero-title-text {
        font-size: 36px;
        width: 95%;
    }
    .hero-detail-text {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff99;
        margin-top: 40px;
        padding-bottom: 70px;
        width: 90%;
        line-height: 1.1;
    }
    .hero-section {
        height: auto;
    }
    .hero-brands {
        padding: 0 15px;
    }
    /* .brands-container > div {
        display: block !important;
    } */
    /* .brands-container > div > img {
        display: block !important;
        margin: auto;
        margin-bottom: 10px;
    } */
    .carousel-indicators {
        bottom: 0 !important;
    }
    .home-sect-2-title {
        font-size: 36px;
    }
    .div-graphic-element {
        width: 50%;
    }
    .home-sect-2-content-container {
        display: block !important;
    }
    .home-sect-2-img {
        width: 100% !important;
        height: 250px !important;
    }
    .home-sect-2-text-container {
        width: 100%;
        margin-top: 20px;
    }
    .home-sect-2-text-heading {
        font-size: 24px;
    }
    .home-sect-4-title {
        font-size: 36px;
        text-align: center;
    }
    .innovative-sec-table {
        border-right: 1px solid #ffffff40;
    }
    .py-90px {
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }
    .contact-flex-input {
        width: 100%;
    }
    .contact-flex-input:first-child {
        margin-bottom: 8px;
    }
    .contact-section {
        padding: 0;
    }
    .contact-container {
        background-position: unset !important;
    }
    #partners-carousel {
        padding: 25px 60px;
        height: auto;
        display: block;
    }
    #partners-carousel .carousel-inner {
        padding: 0 5px;
    }
    .partner-carousel-content {
        width: 100%;
    }
    .services-container .hero {
        height: auto;
        padding: 50px 0;
        padding-top: 100px;
    }
    .services-hero-text-content {
        width: 100%;
    }
    .services-hero-title {
        line-height: 1.5;
        font-size: 32px;
        font-weight: 500;
    }
    .services-hero-subtitle {
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
    .text-content.fixed-on-scroll {
        width: 90%;
    }
    #fixed-on-scroll {
        position: relative;
        top: unset;
    }
    .container-sm {
        margin-right: 10px !important;
        margin-left: 10px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .empower-right-texts {
        width: 80%;
        padding-top: 30px;
        margin-bottom: 50px;
        position: relative;
        padding-left: 20px;
    }
    #carouselExampleIndicators .carousel-indicators {
        display: none;
    }
}
